:root{
  --red: #EE3643;
  --dark-blue: #293449;
  --white: #FFFFFF;
  --black: #000000;
  --green-button: #63A63E;
  --green-button-hover:#5FBB2D;
  --header-focus:#161D29;
  --background-orange: #FFBF47;
  --background-blue: #3BBCE3;
  --background-purple: #DC91D8;
  --background-green: #8ED78F;
  --part-color: #F9F5F0;
  --grey: #A9A9A9;
  --light-blue: #F1F5F7;
  --dark-light-blue: #32425C;
  --golden: #FFD180;
  --footer-address: #F3F7F9;
  --catalog-title: #F2F6F8;
  --cream: #F7F3EC;
  --border: #E5E5E5;
  --grey-box: #EAEAEA;
  --background-icon:#212A3A;
  --basic-grey:#C5C5C5;
  --shop-name-focus:#BA2732;
  --shop-name-hover: #CA2C37;
  --login-hover: #3D546F;
  --focus-navigation: #1D2739;
  --green-button-shadow: #367315;
  --green-button-hover: #5FBB2D;
  --green-button-focus: #518534;
  --feedback-send-background: #F4F4F4;
}

/*Grid*/
.page{
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.container-service{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  background-image: url('../img/lorry.png');
  background-repeat: no-repeat;
  background-position: 472px 194px;
}

.navigation{
  margin-bottom: 60px;
  margin-top: 59px;
}

.navigation-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 123px 123px 123px;
}
.navigation-list li{

}
.navigation-list h3{
  padding-left: 22px;
  margin-top: 20px;
}
.slider{
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.slider h3{
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 23px;
  text-transform: uppercase;
}
.slider p{
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 16px;
}

.slider-item-1{
  display: none;
  height: 266px;
  background-image: url('../img/layer_99.jpg');
}

.slider-item-2{
  display: none;
  height: 266px;
  background-image: url('../img/layer_98.jpg');
}
.slider-item-1.active-slide{
  display:block;
}
.slider-item-2.active-slide{
  display:block;
}
.product{
  margin-bottom: 70px;
}

.product-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: repeat(4, 220px);
  grid-auto-rows: 318px;
}
.product-list li{
  text-align: center;
  border: 1px solid var(--grey-box);
  box-sizing: border-box;
  position: relative;
}

.product-list a{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 153px;
  justify-content: center;
  align-items: center;
  padding-right: 6px;
  box-sizing: border-box;
}

.product-list img, .perforators-grid img{
  position: relative;
  top:7px;
}
.company{
  margin-bottom: 70px;
}

.company-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
}


.company-list a{
  border: 1px solid var(--grey-box);
  box-sizing: border-box;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 220px;
  height: 145px;
}

.company-list li:hover{
  box-shadow:0 4px 20px rgba(0, 0, 0, 0.15);
}
.company-list li:focus, .company-list a:focus{
  opacity: 0.5;
}


.company-contact{
  display: grid;
  grid-template-columns: 640px 300px;
  margin-top: 70px;
  margin-bottom: 70px
}

.global-grid{
display: grid;
gap:20px;
grid-template-columns: 220px 700px;
}

.perforators-grid{
  margin: 0;
  padding: 0;
  display:grid;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 318px 318px 318px;
}
.perforators-grid li{
  text-align: center;
  border: 1px solid var(--grey-box);
  box-sizing: border-box;
  position: relative;
}

.product-list li:nth-child(2)::after,
.product-list li:nth-child(4)::after{
  content:"";
  position: absolute;
  background-image: url('../img/flag-new.png');
  z-index: 3;
  display: block;
  width: 70px;
  height: 70px;
  top:-0.5px;
  right:0px;
}

.perforators-grid li:nth-child(3)::after,
.perforators-grid li:nth-child(4)::after,
.perforators-grid li:nth-child(6)::after,
.perforators-grid li:nth-child(7)::after,
.perforators-grid li:nth-child(9)::after{
  content:"";
  position: absolute;
  background-image: url('../img/flag-new.png');
  z-index: 3;
  display: block;
  width: 70px;
  height: 70px;
  top:0px;
  right:-0.5px;
}

.perforators-grid a{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 153px;
  justify-content: center;
  align-items: center;
  padding-right: 6px;
  box-sizing: border-box;
}

.perforators-grid img{
  position: relative;
  top:7px;
}
.crossed-catalog{
  color: var(--grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 8px;
  left: 1px;
}

.by-hover{
  position: absolute;
  top:-0.5px;
  left:0.5px;
  width: 100%;
  background-color: var(--white);
  height: 130px;
  display: none;
}
.perforators-grid li:hover .by-hover, .product-list li:hover .by-hover{
  display: block;
}

.perforators-grid li:hover, .product-list li:hover{
  box-shadow: 0 4px 20px rgba(0,0,0, 0.15);
}
.by-hover .buy-link:hover{
  background-color:var(--green-button-hover);
}

.by-hover .buy-link:focus{
  background-color: var(--green-button-focus);
}

.by-hover .basket-link:hover{
  border-color: var(--dark-light-blue);
}

.by-hover .basket-link:focus{
  opacity: 0.5;
}
/*Flex*/

.flex-header{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  height: 42px;
}
.flex-shift{
margin-left: auto;
}
.flex-header-mid{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 3px;
}
.site-navigation{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:940px;
  height:60px;
  margin: 0 auto;
  padding:0;
  margin-bottom: 60px;
}

.site-navigation li{
  height: 100%;
  box-sizing: border-box;
}

.site-navigation a{
  height: 100%;
  padding: 16px 27px;
  display: block;
  box-sizing: border-box;
  color:var(--white);
}

.site-navigation a:hover{
  background-color: var(--dark-blue);
}

.site-navigation a:focus{
  background-color: var(--red);
}

.site-navigation li:first-child{
  margin-left:30px;
}

.site-navigation li:last-child{
  margin-right: 30px;
}

.part{
  display: flex;
  width:940px;
  height: 89px;
  justify-content: space-between;
  align-items: center;
}
.services-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.services-flex div{
  margin-left: 80px;
}
.navigator{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top:5px;
  left:16px;
}

.flex-number-input{
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-flex{
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  position: relative;
}

.sorting-flex .filter{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0;
}
.filter-upper{
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  left: 141px;
  bottom: 2px;
}
.filter-upper li:nth-child(2){
  margin-left:68px;
  margin-right: 62px;
}
.pages{
  margin-top: 47px;
  margin-bottom: 59px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.upper-ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 546px;
  margin-top: 32px;
  margin-bottom: 2px;
}

.lower-ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: auto;
  width: 523px;
  margin-top: 25px;
}

.container-footer{
  padding-bottom: 55px;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-footer p{
  order: -1;
}
.frame-of-site-flex{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 13px;
  bottom: 2px;
}
.link-flex div{
  margin-left: 51px;
}

.icon-flex{
  display: flex;
  justify-content:space-between;
  position: relative;
  padding-left: 34px;
}
.icon-flex li{
  margin: 0 1px;
  content: "";
  width: 44px;
  height: 44px;
  border-radius:50%;
  background-color: var(--background-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-flex li:hover, .icon-flex li:focus{
  background-color: var(--red);
}
.icon-vk{
  padding-top: 2px;
}

.icon-fb{
  padding-top: 6px;
}

.icon-insta{
  padding-top: 7px;
}

/*Global*/
.page-body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;

}

.page-body a{
    text-decoration:none;
}
.page-body ul{
  list-style:none;
}

.main-header{
  background: var(--footer-address);
}
.up-header{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}


.search-div{
  position: relative;
}

.search-div::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left:18px;
  top:-30px;
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
  display: block;
  height: 42px;
  width: 271px;
  padding-left: 43px;
  position: relative;
}

.search:focus + label::before{
  background-image: url('../img/icon-search-red.svg');
}

.search:focus{
  background-color: var(--white);
  color: var(--black);
}

.search a{
  font-size: 24px;
  font-weight: 400;
}

.search::placeholder{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.bookmark{
  position: relative;
  display: block;
  padding: 9px 24px 9px 43px;
}
.bookmark-catalog{
  padding-right: 39px;
}
.bookmark::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  right: 115px;
  bottom: 13px;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmark-catalog::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  right: 130px;
  bottom: 13px;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmark:visited, .basket:visited{
  color: var(--white);
}
.bookmark:focus, .basket:focus{
  background-color: var(--header-focus);
  color: rgba(255,255,255, 0.5);
}

.bookmark:hover::before, .basket:hover::before{
  opacity: 1;
}

.bookmark:focus::before, .basket:focus::before{
  opacity: 0.3;
}

.basket{
  position: relative;
  display: block;
  padding: 9px 26px 9px 49px;
}
.basket::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 108px;
  bottom: 14px;
  background-image: url('../img/icon-cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.shop-name{
  background-color: var(--red);
  color: var(--white);
  display: inline-block;
  text-align: center;
  padding-top: 14px;
  padding-left: 55px;
  padding-right: 56px;
  padding-bottom: 12px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.shop-name:focus{
  background-color: var(--shop-name-focus);
}

.box-red {
  background-color: var(--red);
  padding-right: 21px;
  padding-left: 35px;
}
.form-button{
  background-color: var(--green-button);
  color: var(--white);
  list-style: none;
  width: 150px;
  height: 42px;
  border: 0;
  text-align: center;
  line-height: 42px;
}

.form-button:hover{
  background-color: var(--green-button-hover);
}
.form-button:focus{
  background-color: var(--green-button);
  color: rgba(255,255,255, 0.5)
}

.red-text{
  color: var(--red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  left:30px;
  margin-top: 42.5px;
  margin-bottom: 44.5px;
  letter-spacing: 0.8px;
}
.telno{
  color: var(--red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold ;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding:2px 41px 5px 73px;
  border: 3px solid var(--white);
  box-sizing: border-box;
  position: relative;
  left:25px;
  top:19px;
}
.telno-catalog{
  left:32px;
  top:18px;
}
.telno::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left:38px;
  bottom: 10px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address{
  color:var(--dark-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  left:36px;
  top: 8px;
}

.address-catalog{
  left:44px;
}

.header-button-login, .header-button-reg{
  background: var(--white);
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  position: relative;
}

.header-button-login{
  display: inline-block;
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 21px;
  padding-right: 27px;
  margin-right: 10px;
  position: relative;
  top:-8px;
  left:4px;
}

.header-button-login svg{
  fill:var(--basic-grey);
}

.header-button-login:hover, .header-button-reg:hover{
  color: var(--red);
}
.header-button-login:hover svg{
    fill:var(--login-hover);
}
.header-button-login:focus, .header-button-reg:focus{
  color: var(--basic-grey);
}

.header-button-login:focus svg{
    fill: var(--basic-grey);
}

.header-button-reg{
  display: inline-block;
  padding: 12px 24px;
  position: relative;
  top:-8px;
}

.header-button-login:hover::before{
  background-color: var(--login-hover);
}


.header-button{
  background: var(--white);
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  position: relative;
  display: inline-block;
  width: 299px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  position: relative;
  top:12.5px;
}

.header-button svg{
  fill:var(--basic-grey);
}

.header-button:hover svg{
  fill: var(--login-hover);
}

.header-button:focus{
  color:var(--basic-grey);
}

.header-button:focus svg{
  fill:var(--basic-grey);
}

.user-icon{
  position: absolute;
  top:14px;
  left:16px;
}

.logout-icon{
  position: absolute;
  top:14px;
  right:16px;
}


.cabinet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 18px;
  position: relative;
  top:7px;
  left:5px;
}

.cabinet a{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-light-blue);
}

.cabinet a:hover{
  color:var(--red);
}

.cabinet a:focus{
  color:var(--basic-grey);
}

.cabinet a:first-child:after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  right:16px;
  left: 128px;
  top: 7px;
  background-color: var(--dark-light-blue);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.cabinet a:first-child:hover::after{
  background-color: var(--red);
}

.cabinet a:first-child:focus:after{
  background-color: var(--basic-grey);
}

.site-navigation{
  background-color: var(--dark-light-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0px -5px 0px var(--dark-blue);
}



.item h3{
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.main-button{
  background: rgba(255,255,255,0.3);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  display: block;
  width: 135px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left:23px;
  top: -35px;
}


.main-button:hover{
  background: rgba(197, 197, 197, 0.3);
}

.main-button:focus{
  background: rgba(169, 169, 169, 0.3);
}

.orange-background-1, .orange-background-2{
  background-color: var(--background-orange);
}

.orange-background-1{
  background-image: url('../img/icon-1.svg'), url('../img/flag-new.png');
  background-repeat: no-repeat, no-repeat;
  background-position:213px 31px, 230px 0px;
}
.blue-background{
  background-color: var(--background-blue);
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position:195px 35px;
}
.purple-background{
  background-color:  var(--background-purple);
  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position:191px 31px;
}
.green-background{
  background-color:  var(--background-green);
  background-image: url('../img/icon-4.svg');
  background-repeat: no-repeat;
  background-position:196px 26px;
}
.orange-background-2{
background-image: url('../img/icon-5.svg');
background-repeat: no-repeat;
background-position:192px 32px;
}

.black-line{
  background-color: rgba(0,0,0,0.25);
}
.perforators{
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}
.description-perforators{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.button-left{
  position: absolute;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 0;
  background-image: url('../img/icon-left.png');
  margin-left: 24px;
  margin-top: 18px;
}

.button-right{
  position: absolute;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 0;
  background-image: url('../img/icon-right.png');
  margin-top: 18px;
  margin-left: 578px;
}

.open-catalog{
position: relative;
left: 24px;
top: 97px;
}

.grey-round{
  content: "";
  width: 10px;
  height: 10px;
  border-radius:50%;
  background-color: var(--white);
  position: relative;
  left:296px;
  top: 79px;
}

.red-grey-round{
  content: "";
  width: 6px;
  height: 6px;
  border-radius:50%;
  background-color: var(--red);
  border: 2px solid var(--white);
  position: relative;
  left:316px;
  top: 69px;
  }

.navigator a {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.navigator, .navigator li{
  position: relative;
}
.navigator li:not(:last-child){
  padding-right: 41px;
}

.navigator::before{
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url('../img/icon-home.svg');
  content: "";
  left:-15px;
  bottom:5px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigator li::before{
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');
  content: "";
  left:-25px;
  bottom:5px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.catalog-title{
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--catalog-title);
  color:var(--dark-light-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 29px;
  padding-left: 29px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color:var(--cream);
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  border-radius: 5px;
}

.filter-price{
  background-color:var(--cream);
  border-radius: 5px;
}
.number-input{
  font-family: "PT Sans", "Arial", sans-serif;
  background-color:var(--cream);
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-title{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  margin-top: 41px;
}

.filter-title-power{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 22px;
}

.form-group{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  padding-top: 2px;
  padding-left: 35px;
  padding-bottom: 19px;
}

.form-group input, .filter-list-power input{
  display: none;
  cursor: pointer;
}
.form-group label, .filter-list-power label{
  position: relative;
  cursor: pointer;
}

.form-group label::before{
  content: "";
  position: absolute;
  top:-2px;
  left:-33px;
  width: 23px;
  height:23px;
  background-image: url('../img/checkbox-off.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-group label:hover::before{
  background-image: url('../img/checkbox-off-hover.png');
}

.form-group input:checked + label:before{
  content: "";
  position: absolute;
  top:-2px;
  left:-33px;
  width: 23px;
  height:23px;
  background-image: url('../img/checkbox-on.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*
.form-group input:checked:disabled + label:before{
  background-image: url('../img/checkbox-on-hover.png');
  opacity: 0.3;
}
.form-group input:disabled + label:before{
  background-image: url('../img/checkbox-off-hover.png');
  opacity: 0.3;
}
*/
.form-group input:checked + label:hover::before{
  background-image: url('../img/checkbox-on-hover.png');
}

.form-group input:disabled + label{
  opacity: 0.3;
}


.filter-list-power{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  padding-top: 4px;
  padding-left: 36px;
  padding-bottom: 17px;
}


.filter-list-power label::before{
  content: "";
  position: absolute;
  top:-3px;
  left:-36px;
  width: 25px;
  height:25px;
  background-image: url('../img/radio-off.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-list-power label:hover::before{
    background-image: url('../img/radio-off-hover.png');
}

.filter-list-power input:checked + label::before{
  content: "";
  position: absolute;
  top:-3px;
  left:-36px;
  width: 25px;
  height:25px;
  background-image: url('../img/radio-on.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-list-power input:checked + label:hover::before{
  background-image: url('../img/radio-on-hover.png');
}

.filter-list-power input:checked + label:hover::before{
  background-image: url('../img/radio-on-hover.png');
}

.filter-list-power input:disabled + label{
  opacity: 0.3;
}


.filter-button{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color:var(--white);
  border: 1px solid var(--border);
  width: 220px;
  padding-top:10px;
  padding-bottom: 9px;
  margin-top: 21px;
}


.filter-upper a{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color:rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--red);
}



.filter-upper a:hover{
  color:var(--black);
  border-bottom: 1px solid var(--red);
}

.filter-upper a.active-filter{
  color:var(--red);
  border:none;
}

.button-down-dir{
  position: absolute;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: none;
  font-size: 0;
  left: 667px;
  top: 11px;
}

.button-down-dir svg, .button-up-dir svg{
  fill:var(--basic-grey);
}

.button-up-dir{
  position: absolute;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: none;
  font-size: 0;
  left: 647px;
  top: 13px;
  transform: rotate(180deg);
}

.button-up-dir:hover svg, .button-down-dir:hover svg{
  fill:var(--black);
}
.button-dir-active svg, .button-dir-active:hover svg {
  fill:var(--red);
}

.red-button{
  background-color: var(--red);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}

.red-button:hover{
  background-color: var(--shop-name-hover);
}
.red-button:focus{
  background-color: var(--shop-name-focus);
}
.part{
  background-color: var(--part-color);
  margin-bottom: 20px;
}
.part h2{
  color: var(--dark-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 28px;
  letter-spacing: -0.8px;
}

.part a{
  display: inline-block;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 14px;
}
.test{

}

.description{
  color: var(--black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  padding-top: 25px;
}
.crossed{
  color: var(--grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  padding-top: 7px;
}
.price{
  color: var(--white);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 40px;
  position: absolute;
  width: 146px;
  height: 38px;
  left: 38px;
  bottom:5px;
  background-image: url('../img/red-button.png');
  background-repeat: no-repeat;
  background-size: 141px 38px;
  background-position: 6px 0px;
}

.by-hover .buy-link{
  width: 138px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--green-button);
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: inset 0px -3px 0px var(--green-button-shadow);
  border-radius: 2px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  text-align: center;
  position: relative;
  top:38px;
  left:37px;
}

.by-hover .buy-link::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 90px;
  bottom: 14px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.by-hover .basket-link{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-light-blue);
  background-color: var(--white);
  text-transform: uppercase;
  border: 3px solid var(--green-button);
  box-sizing: border-box;
  border-radius: 2px;
  width: 138px;
  height: 38px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  top:47px;
  left: 37px;
}

.pages a{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 2px;
  text-transform: uppercase;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages a:last-child{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 2px;
  text-transform: uppercase;
  height: 36px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages a:not(:first-child){
  margin: 0;
  margin-left: 10px;
}
.pages a:hover{
  border-color: var(--basic-grey);
}
.pages a:focus{
  border-color: var(--red);
}

.pages .active-page,
.pages .active-page:hover{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
}
.services-background{
  background-color: var(--light-blue);
  font-weight: 400;
  padding-top: 64px;
  padding-bottom: 99px;
}

.services-background p{
  margin: 0;
}

.services-background-catalog{
  background-color: var(--light-blue);
  font-weight: 400;
  padding-top: 64px;
  padding-bottom: 69px;
}

.services-background-catalog p{
  margin: 0;
}

.services-list{
  position: relative;
  width: 240px;
  padding: 0;
  margin: 0;
  padding-top: 70px;
}
.services-list::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  left:230px;
  top:25px;
  background-image: url('../img/object-shadow.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.services-list li{
  padding-left: 22px;
  padding-top: 13.5px;
  padding-bottom: 19.5px;
}
.title{
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 24px
}

.popular-company{
  position: relative;
  right:4px;
}
.option{
  background-color: var(--dark-light-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.option:hover:not(.active-service){
  background-color: var(--dark-blue);
}
.active-service{
  background-color: var(--white);
  color: var(--dark-light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.delivery{
  color: var(--dark-light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 38px;
  padding-bottom: 31px;
}

.paragraph{
  margin: 0;
  margin-top: 26px;
}

.companies-list{
  padding-left: 37px;
  margin: 0px;
  position: relative;
}

.companies-list li{
  padding-bottom: 12px;
}

.companies-list li::before{
  content: "";
  width: 25px;
  height: 2px;
  background-color:var(--red);
  position: absolute;
  left: 1px;
  margin-top: 13px;
}

.companies{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.more-company{
  width: 220px;
  margin: 0;
  margin-top: 10px;
}

.map-gap{
margin-bottom: 33.5px;
}
.got-lost{
  width: 300px;
  margin-top: 17px;
  padding-left: 2px;
}
.blue-background-footer{
  background-color: var(--dark-light-blue);
}
.dark-blue-background-footer{
  background-color: var(--dark-blue);
  padding-top: 21px;
  padding-bottom: 19px;
}

.shop-name-footer{
  background-color: var(--red);
  color: var(--white);
  display: inline-block;

  padding: 18px 41px 20px 41px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.upper-ul,
.upper-ul a{
  color: var(--light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.lower-ul,
.lower-ul a{
  color: var(--golden);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.upper-ul a:hover, .lower-ul a:hover{
  text-decoration: underline;
}

.upper-ul a:focus, .lower-ul a:focus{
  opacity: 0.5;
  text-decoration: none;
}

.address-footer{
  color: var(--footer-address);
  font-family: "Cuprum", "Arial", sans-serif, "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 22px;
  margin-left: 3px;
}

.rights{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  left: 2px;
  bottom: 2px;
}

.reference{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.reference a, .academy{
  color: var(--golden);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.reference a:hover, .academy:hover{
  text-decoration: underline;
}

.reference a:focus, .academy:focus{
  color:var(--red);
  text-decoration: none;
}


/*price range*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
  position: relative;
}

.filter-item:first-child::after{
  content: "";
  position: absolute;
  width: 220px;
  height: 2px;
  left:0px;
  top:195px;
  background-image: url('../img/border-filter.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item:nth-child(2)::after{
  content: "";
  position: absolute;
  width: 220px;
  height: 2px;
  left:0px;
  top:292px;
  background-image: url('../img/border-filter.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.filter-item legend{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls{
  position: relative;
  height: 41px;
  background-color: #F7F3EC;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #D7DCDE;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position:absolute;
  top:31px;
  left:0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls p{
  width: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0 5px;;
  text-align: center;
}
.price-controls input{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  height: 38px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #F7F3EC;
}


.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  z-index: 100;
}

.modal-feedback{
  top:120px;
  bottom: auto;
  width: 620px;
  border-top: 7px solid var(--red);
  right: 16px;
  display: none;
}

.flex-feedback{
  width: 460px;
  margin: 40px 80px 30px 80px;
  display: flex;
  flex-wrap: wrap;
}

.flex-data{
  display: flex;
}

.flex-feedback-name{
  display: flex;
  width: 220px;
  padding-right: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-feedback-email{
  display: flex;
  width: 220px;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-feedback-name label, .flex-feedback-email label{
  margin-bottom: 11px;
}
.flex-feedback-name input, .flex-feedback-email input{
  width: 216px;
  height: 32px;
  border: 2px solid var(--basic-grey);
  border-radius: 2px;
  margin-bottom: 13px;
}

.flex-feedback-name input::placeholder,
.flex-feedback-email input::placeholder{
  color: var(--grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-left: 8px;
}

.modal-feedback textarea{
  width: 456px;
  height: 110px;
  margin:0;
  margin-top: 11px;
  padding: 0;
  border: 2px solid var(--basic-grey);
  border-radius: 2px;
}

.modal-feedback textarea::placeholder{
  color: var(--grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-top: 6px;
  padding-left: 12px;
}

.feedback-send{
  background-color: var(--feedback-send-background);
}

.modal-feedback .red-button{
  margin: 37px 80px;
  border:none;
  width: 460px;
}

.modal-map{
  width: 943px;
  height: 449px;
  left: -18px;
  top: -25px;
  border: none;
  border-top: 7px solid var(--red);
  display: none;
}

.modal-close{
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 14px;
  left: 587px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
}

.modal-close-map{
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  left: 912px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
}

.modal-add{
  top:120px;
  left:32px;
  bottom: auto;
  width: 620px;
  border-top: 7px solid var(--red);
  display: none;
}

.modal-add p{
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding-top: 66px;
  padding-bottom: 67px;
}

.modal-add p::before{
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: 47px;
  left: 82px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../img/icon-mark.png');
  background-repeat: no-repeat;
}

.add-buttons{
  background-color: #F1F1F1;
  padding: 37px 0;
}

.add-buttons .red-button{
  margin-left: 115px;
}

.shop-button{
  background-color: var(--white);
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-left: 6px;
}

.modal-add-close{
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  left: 589px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
}
