:root{
  --red: #EE3643;
  --dark-blue: #293449;
  --white: #FFFFFF;
  --black: #000000;
  --green-button: #63A63E;
  --green-button-hover:#5FBB2D;
  --green-button-focus:#161D29;
  --background-orange: #FFBF47;
  --background-blue: #3BBCE3;
  --background-purple: #DC91D8;
  --background-green: #8ED78F;
  --part-color: #F9F5F0;
  --grey: #A9A9A9;
  --light-blue: #F1F5F7;
  --dark-light-blue: #32425C;
  --golden: #FFD180;
  --footer-address: #F3F7F9;
  --catalog-title: #F2F6F8;
  --cream: #F7F3EC;
  --border: #E5E5E5;
  --grey-box: #EAEAEA;
  --background-icon:#212A3A;
  --basic-grey:#C5C5C5;
  --shop-name-focus:#BA2732;
  --shop-name-hover: #CA2C37;
  --login-hover: #3D546F;
}

/*Grid*/
.page{
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.container-service{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  background-image: url('../img/lorry.png');
  background-repeat: no-repeat;
  background-position: 472px 194px;
}

.navigation{
  margin-bottom: 60px;
  margin-top: 59px;
}

.navigation-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 123px 123px 123px;
}
.navigation-list li{

}
.navigation-list h3{
  padding-left: 22px;
  margin-top: 20px;
}
.slider{
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.slider h3{
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 23px;
  text-transform: uppercase;
}
.slider p{
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 16px;
}

.slider-item-1{
  display: none;
  height: 266px;
  background-image: url('../img/layer_99.jpg');
}

.slider-item-2{
  display: none;
  height: 266px;
  background-image: url('../img/layer_98.jpg');
}
.slider-item-1.active-slide{
  display:block;
}
.slider-item-2.active-slide{
  display:block;
}
.product{
  margin-bottom: 70px;
}

.product-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: repeat(4, 220px);
  grid-auto-rows: 318px;
}
.product-list li{
  text-align: center;
  border: 1px solid var(--grey-box);
  box-sizing: border-box;
  background-image: url('../img/red-button.png');
  background-repeat: no-repeat;
  background-size: 141px 38px;
  background-position: 47px 258px;
  position: relative;
}

.product-list li:nth-child(2),
.product-list li:nth-child(4){
  background-image: url('../img/red-button.png'), url('../img/flag-new.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 141px 38px, 70px 70px;
  background-position: 47px 258px, 148px 0px;
}


.product-list a{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 153px;
  justify-content: center;
  align-items: center;
  padding-right: 6px;
  box-sizing: border-box;
}

.product-list img{
  position: relative;
  top:7px;
}
.company{
  margin-bottom: 70px;
}

.company-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
}


.company-list a{
  border: 1px solid var(--grey-box);
  box-sizing: border-box;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 220px;
  height: 145px;
}

.company-list li:hover{
  box-shadow:0 0 10px var(--grey);
}
.company-list li:focus, .company-list a:focus{
    box-shadow:0 0 10px var(--grey-box);
  border: none;
  opacity: 0.5;
}


.company-contact{
  display: grid;
  grid-template-columns: 640px 300px;
  margin-top: 70px;
  margin-bottom: 70px
}

.global-grid{
display: grid;
gap:20px;
grid-template-columns: 220px 700px;
}

.perforators-grid{
  margin: 0;
  padding: 0;
  outline: 5px solid blue;
  outline-offset: -5px;
  display:grid;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 318px 318px 318px;
}
.perforators-grid li{
  outline: 5px solid orange;
  outline-offset: -5px;
}



/*Flex*/

.flex-header{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  height: 42px;
}
.flex-shift{
margin-left: auto;
}
.flex-header-mid{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 3px;
}
.site-navigation{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:940px;
  height:60px;
  margin: 0 auto;
  padding:0;
  margin-bottom: 60px;
}
.site-navigation li:first-child{
  padding-left: 53px;
}

.site-navigation li:last-child{
  padding-right: 53px;
}

.part{
  display: flex;
  width:940px;
  height: 89px;
  justify-content: space-between;
  align-items: center;
}
.services-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.services-flex div{
  margin-left: 80px;
}
.navigator{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigator li:nth-child(3){
  margin: 0 20px;
}

.flex-number-input{
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-upper{
  display: flex;
}
.filter-upper li:nth-child(2){
  margin: 0 10px;
}
.pages{
  margin-top: 48px;
  margin-bottom: 59px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.upper-ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 546px;
  margin-top: 32px;
  margin-bottom: 2px;
}

.lower-ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: auto;
  width: 523px;
  margin-top: 25px;
}

.container-footer{
  padding-bottom: 55px;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-footer p{
  order: -1;
}
.frame-of-site-flex{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 13px;
  bottom: 2px;
}
.link-flex div{
  margin-left: 51px;
}

.icon-flex{
  display: flex;
  justify-content:space-between;
  position: relative;
  padding-left: 34px;
}
.icon-flex li{
  margin: 0 1px;
  content: "";
  width: 44px;
  height: 44px;
  border-radius:50%;
  background-color: var(--background-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-flex li:hover, .icon-flex li:focus{
  background-color: var(--red);
}
.icon-vk{
  padding-top: 2px;
}

.icon-fb{
  padding-top: 6px;
}

.icon-insta{
  padding-top: 7px;
}

/*Global*/
.page-body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;

}

.page-body a{
    text-decoration:none;
}
.page-body ul{
  list-style:none;
}

.main-header{
  background: var(--footer-address);
}
.up-header{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search-div::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left:-22px;
  bottom:5px;
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-div{
  position: relative;
  margin-left: 42px;
}

.search{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
}
.search a{
  font-size: 24px;
  font-weight: 400;
}

.search::placeholder{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.bookmark{
  position: relative;
  display: block;
  padding: 9px 24px 9px 43px;
}

.bookmark::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  right: 115px;
  bottom: 13px;
  background-image: url('../img/icon-bookmark.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmark:visited, .basket:visited{
  color: var(--white);
}
.bookmark:focus, .basket:focus{
  background-color: var(--green-button-focus);
  color: rgba(255,255,255, 0.5);
}

.bookmark:hover::before, .basket:hover::before{
  opacity: 1;
}

.bookmark:focus::before, .basket:focus::before{
  opacity: 0.3;
}

.basket{
  position: relative;
  display: block;
  padding: 9px 26px 9px 49px;
}
.basket::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: 108px;
  bottom: 14px;
  background-image: url('../img/icon-cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.shop-name{
  background-color: var(--red);
  color: var(--white);
  display: inline-block;
  text-align: center;
  padding-top: 14px;
  padding-left: 55px;
  padding-right: 56px;
  padding-bottom: 12px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.shop-name:focus{
  background-color: var(--shop-name-focus);
}

.box-red {
  background-color: var(--red);
  padding-right: 21px;
  padding-left: 35px;
}
.form-button{
  background-color: var(--green-button);
  color: var(--white);
  list-style: none;
  width: 150px;
  height: 42px;
  border: 0;
  text-align: center;
  line-height: 42px;
}

.form-button:hover{
  background-color: var(--green-button-hover);
}
.form-button:focus{
  background-color: var(--green-button);
  color: rgba(255,255,255, 0.5)
}

.red-text{
  color: var(--red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  left:30px;
  margin-top: 42.5px;
  margin-bottom: 44.5px;
  letter-spacing: 0.8px;
}
.telno{
  color: var(--red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold ;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding:2px 41px 5px 73px;
  border: 3px solid var(--white);
  box-sizing: border-box;
  position: relative;
  left:25px;
  top:19px;
}
.telno::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left:38px;
  bottom: 10px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address{
  color:var(--dark-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  left:36px;
  top: 8px;
}

.header-button-login, .header-button-reg{
  background: var(--white);
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  position: relative;
}

.header-button-login{
  display: inline-block;
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 27px;
  margin-right: 10px;
  position: relative;
  top:-8px;
  left:4px;
}
.header-button-login:hover, .header-button-reg:hover{
  color: var(--red);
}
.header-button-login:focus, .header-button-reg:focus{
  color: var(--basic-grey);
}


.header-button-reg{
  display: inline-block;
  padding: 12px 24px;
  position: relative;
  top:-8px;
}

.header-button-login::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  left:20px;
  background-image: url('../img/icon-login.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header-button-login:hover::before{
  background-color: var(--login-hover);
}

.cabinet, .cabinet a{

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-light-blue);
}
.cabinet li:nth-child(2){
  list-style: circle;
}

.site-navigation{
  background-color: var(--dark-light-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0px -5px 0px var(--dark-blue);
}

.site-navigation a{
  color:var(--white);
}

.item h3{
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.main-button{
  background: rgba(255,255,255,0.3);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  display: block;
  width: 135px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  left:23px;
  top: -35px;
}


.main-button:hover{
  background: rgba(197, 197, 197, 0.3);
}

.main-button:focus{
  background: rgba(169, 169, 169, 0.3);
}

.orange-background-1, .orange-background-2{
  background-color: var(--background-orange);
}

.orange-background-1{
  background-image: url('../img/icon-1.svg'), url('../img/flag-new.png');
  background-repeat: no-repeat, no-repeat;
  background-position:213px 31px, 230px 0px;
}
.blue-background{
  background-color: var(--background-blue);
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position:195px 35px;
}
.purple-background{
  background-color:  var(--background-purple);
  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position:191px 31px;
}
.green-background{
  background-color:  var(--background-green);
  background-image: url('../img/icon-4.svg');
  background-repeat: no-repeat;
  background-position:196px 26px;
}
.orange-background-2{
background-image: url('../img/icon-5.svg');
background-repeat: no-repeat;
background-position:192px 32px;
}

.black-line{
  background-color: rgba(0,0,0,0.25);
}
.perforators{
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}
.description-perforators{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.button-left{
  position: absolute;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 0;
  background-image: url('../img/icon-left.png');
  margin-left: 24px;
  margin-top: 18px;
}

.button-right{
  position: absolute;
  width: 22px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 0;
  background-image: url('../img/icon-right.png');
  margin-top: 18px;
  margin-left: 578px;
}

.open-catalog{
position: relative;
left: 24px;
top: 97px;
}

.grey-round{
  content: "";
  width: 10px;
  height: 10px;
  border-radius:50%;
  background-color: var(--white);
  position: relative;
  left:296px;
  top: 79px;
}

.red-grey-round{
  content: "";
  width: 6px;
  height: 6px;
  border-radius:50%;
  background-color: var(--red);
  border: 2px solid var(--white);
  position: relative;
  left:316px;
  top: 69px;
  }

.navigator, .navigator a {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-size: 13px;
  line-height: 18px;
  text-trans: uppercase;
}

.catalog-title{
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--catalog-title);
  color:var(--dark-light-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color:var(--cream);
}

.filter-price{
  background-color:var(--cream);
}
.number-input{
  font-family: "PT Sans", "Arial", sans-serif;
  background-color:var(--cream);
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-title{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
}

.filter-list li,
.filter-list {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
}

.filter-button{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color:var(--white);
  border: 1px solid var(--border);
}


.filter-upper li{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:var(--red);
  text-transform: uppercase;
}


.filter-upper li:nth-child(2), .filter-upper li:nth-child(3){
  color:rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--red);
}

.red-button{
  background-color: var(--red);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
}

.red-button:hover{
  background-color: var(--shop-name-hover);
}
.red-button:focus{
  background-color: var(--shop-name-focus);
}
.part{
  background-color: var(--part-color);
  margin-bottom: 20px;
}
.part h2{
  color: var(--dark-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 28px;
  letter-spacing: -0.8px;
}

.part a{
  display: inline-block;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 14px;
}
.test{

}

.description{
  color: var(--black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  padding-top: 25px;
}
.crossed{
  color: var(--grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  padding-top: 7px;

}
.price{
  color: var(--white);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  position: absolute;
  left: 77px;
  bottom: 14px;
}

.buy-link{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--green-button);
  text-transform: uppercase;
}
.basket-link{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-light-blue);
  background-color: var(--white);
  text-transform: uppercase;
  border: 3px solid var(--green-button);
  box-sizing: border-box;
  border-radius: 2px;
}

.pages li:not(:last-child){
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--border);
  text-transform: uppercase;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages li:last-child{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--border);
  text-transform: uppercase;
  height: 38px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages li:not(:first-child){
  margin: 0;
  margin-left: 10px;
}

 .pages a {
   text-decoration: none;
   color:inherit;
 }

.pages li:first-child{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
}

.services-background{
  background-color: var(--light-blue);
  font-weight: 400;
  padding-top: 64px;
  padding-bottom: 99px;
}

.services-background p{
  margin: 0;
}

.services-list{
  width: 240px;
  padding: 0;
  margin: 0;
  padding-top: 70px;
}
.services-list li{
  padding-left: 22px;
  padding-top: 13.5px;
  padding-bottom: 19.5px;
}
.title{
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 24px
}

.popular-company{
  position: relative;
  right:4px;
}
.option{
  background-color: var(--dark-light-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.option:hover:not(.active-service){
  background-color: var(--dark-blue);
}
.active-service{
  background-color: var(--white);
  color: var(--dark-light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.delivery{
  color: var(--dark-light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 38px;
  padding-bottom: 31px;
}

.paragraph{
  margin: 0;
  margin-top: 26px;
}

.companies-list{
  padding-left: 37px;
  margin: 0px;
  position: relative;
}

.companies-list li{
  padding-bottom: 12px;
}

.companies-list li::before{
  content: "";
  width: 25px;
  height: 2px;
  background-color:var(--red);
  position: absolute;
  left: 1px;
  margin-top: 13px;
}

.companies{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.more-company{
  width: 220px;
  margin: 0;
  margin-top: 10px;
}

.map-gap{
margin-bottom: 33.5px;
}
.got-lost{
  width: 300px;
  margin-top: 17px;
  padding-left: 2px;
}
.blue-background-footer{
  background-color: var(--dark-light-blue);
}
.dark-blue-background-footer{
  background-color: var(--dark-blue);
  padding-top: 21px;
  padding-bottom: 19px;
}

.shop-name-footer{
  background-color: var(--red);
  color: var(--white);
  display: inline-block;

  padding: 18px 41px 20px 41px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.upper-ul,
.upper-ul a{
  color: var(--light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.lower-ul,
.lower-ul a{
  color: var(--golden);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.upper-ul a:hover, .lower-ul a:hover{
  text-decoration: underline;
}

.upper-ul a:focus, .lower-ul a:focus{
  opacity: 0.5;
  text-decoration: none;
}

.address-footer{
  color: var(--footer-address);
  font-family: "Cuprum", "Arial", sans-serif, "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 22px;
  margin-left: 3px;
}

.rights{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  left: 2px;
  bottom: 2px;
}

.reference{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.reference a, .academy{
  color: var(--golden);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px
}

.reference a:hover, .academy:hover{
  text-decoration: underline;
}

.reference a:focus, .academy:focus{
  color:var(--red);
  text-decoration: none;
}
