:root{
  --red: #EE3643;
  --dark-blue: #293449;
  --white: #FFFFFF;
  --black: #000000;
  --green-button: #63A63E;
  --background-orange: #FFBF47;
  --background-blue: #3BBCE3;
  --background-purple: #DC91D8;
  --background-green: #8ED78F;
  --part-color: #F9F5F0;
  --grey: #A9A9A9;
  --light-blue: #F1F5F7;
  --dark-light-blue: #32425C;
  --golden: #FFD180;
  --footer-address: #F3F7F9;
  --catalog-title: #F2F6F8;
  --cream: #F7F3EC;
  --border: #E5E5E5;
}

/*Grid*/
.page{
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.navigation{
  outline: 5px solid red;
  outline-offset: -5px;
  margin-bottom: 100px;
  margin-top: 59px;
}

.navigation-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 123px 123px 123px;
}
.navigation-list li{
  outline: 5px solid yellow;
  outline-offset: -5px;
}
.picture-drill{
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.picture-drill p{
  margin: 0;
  padding: 0;
}

.product{
  outline: 5px solid green;
  outline-offset: -5px;
  margin-bottom: 70px;
}

.product-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: repeat(4, 220px);
  grid-auto-rows: 318px;
}
.product-list li{
  outline: 5px solid blue;
  outline-offset: -5px;
}

.company{
  outline: 5px solid purple;
  outline-offset: -5px;
  margin-bottom: 70px;
}

.company-list{
  display: grid;
  margin: 0;
  padding: 0;
  gap:20px;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
}
.company-list li{
  outline: 5px solid orange;
  outline-offset: -5px;
}

.company-contact{
  display: grid;
  gap:180px;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid cyan;
  outline-offset: -5px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.global-grid{
display: grid;
gap:20px;
grid-template-columns: 220px 700px;
}

.perforators-grid{
  margin: 0;
  padding: 0;
  outline: 5px solid blue;
  outline-offset: -5px;
  display:grid;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 318px 318px 318px;
}
.perforators-grid li{
  outline: 5px solid orange;
  outline-offset: -5px;
}

.pages{
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(255, 255, 0, 0.3);
  outline-offset: -5px;
}

/*Flex*/

.flex-header{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  height: 42px;
  outline: 5px solid rgba(255, 255, 0, 0.3);
  outline-offset: -5px;
}
.flex-shift{
margin-left: auto;
}
.flex-header-mid{
display: flex;
justify-content: space-between;
align-items: center;
}

.site-navigation{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:940px;
  height:60px;
  margin: 0 auto;
  outline: 5px solid tomato;
  outline-offset: -5px;
  padding:0;
  margin-bottom: 60px;
}

.part{
  display: flex;
  width:940px;
  height: 89px;
  justify-content: space-between;
  align-items: center;
}
.services-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: 5px solid tomato;
  outline-offset: -5px;
}

.services-flex div{
  margin-left: 80px;
}

.upper-ul{
  display: flex;
  justify-content: space-between;
  outline: 5px solid tomato;
  outline-offset: -5px;
  padding: 0;
}
.upper-ul li:not(:first-child):not(:last-child){
  margin: 0 59px;
}
.lower-ul{
  display: flex;
  justify-content: space-between;
  outline: 5px solid orange;
  outline-offset: -5px;
  padding: 0;
}

.lower-ul li:not(:first-child):not(:last-child){
  margin: 0 59px;
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-footer p{
  order: -1;
}
.frame-of-site-flex{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.link-flex div{
  margin-left: 51px;
}

.icon-flex{
  display: flex;
  justify-content:space-between;
}
.icon-flex li{
  margin: 0 5px;
}
/*Global*/
.page-body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;

}

.page-body a{
    text-decoration:none;
}
.page-body ul{
  list-style:none;
}

.main-header{
  background: var(--footer-address);
}
.up-header{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.search{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.search a{
  font-size: 24px;
  font-weight: 400;
}

.search::placeholder{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.shop-name{
  background-color: var(--red);
  color: var(--white);
}
.box {
  background-color: var(--red);
}
.form{
  background-color: var(--green-button);
  color: var(--white);
}

.red-text{
  color: var(--red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}
.telno{
  color: var(--red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold: ;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  border: 3px solid var(--white);
}

.address{
  color:var(--dark-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.header-button{
  background: var(--white);
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.cabinet, .cabinet a{

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-light-blue);
}
.cabinet li:nth-child(2){
  list-style: circle;
}

.site-navigation,
.site-navigation a{
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.item h3{
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.main-button{
  background: rgba(255,255,255,0.3);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}
.orange-background{
  background-color: var(--background-orange);
}
.blue-background{
  background-color: var(--background-blue);
}
.purple-background{
  background-color:  var(--background-purple);
}
.green-background{
  background-color:  var(--background-green);
}

.black-line{
  background-color: rgba(0,0,0,0.25);
}
.perforators{
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}
.description-perforators{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.navigator, .navigator a {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-title{
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--catalog-title);
  color:var(--dark-light-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color:var(--cream);
}

.filter-price{
  background-color:var(--cream);
}

.filter-title{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
}

.filter-list li,
.filter-list {
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
}

.filter-button{
  font-family: "PT Sans", "Arial", sans-serif;
  color:var(--black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color:var(--white);
  border: 1px solid var(--border);
}


.filter-upper li{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:var(--red);
  text-transform: uppercase;
}


.filter-upper li:nth-child(2),
.filter-upper li:nth-child(3)
{
  color:rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted var(--red);


}
.red-button{
  background-color: var(--red);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.part{
  background-color: var(--part-color);
  margin-bottom: 20px;
}
.part h2{
  color: var(--dark-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 28px;
}

.part a{
  width:192px;
  height:38px;
  margin: 0;
  padding: 0;
}

.description{
  color: var(--black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.crossed{
  color: var(--grey);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.price{
  background-color: var(--red);
  color: var(--white);
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.buy-link{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--green-button);
  text-transform: uppercase;
}
.basket-link{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-light-blue);
  background-color: var(--white);
  text-transform: uppercase;
  border: 3px solid var(--green-button);
  box-sizing: border-box;
  border-radius: 2px;
}

.pages li{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--border);
  text-transform: uppercase;
}
 .pages a {
   text-decoration: none;
   color:inherit;
 }

.pages li:first-child{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
}

.services-background{
  background-color: var(--light-blue);
  font-weight: 400;
  padding-top: 64px;
}

.services-list{
  width: 240px;
  height: 183px;
  padding: 0;
  margin: 0;
  padding-top: 70px;
}

.title{
  color: var(--black);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.option{
  background-color: var(--dark-light-blue);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.active{
  background-color: var(--white);
  color: var(--dark-light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.delivery{
  color: var(--dark-light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.companies{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.blue-background-footer{
  background-color: var(--dark-light-blue);
}
.dark-blue-background-footer{
  background-color: var(--dark-blue);
}

.shop-name-footer{
  background-color: var(--red);
}

.upper-ul,
.upper-ul a{
  color: var(--light-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.lower-ul,
.lower-ul a{
  color: var(--golden);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.address-footer{
  color: var(--footer-address);
  font-family: "Cuprum", "Arial", sans-serif, "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.rights{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.reference{
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.reference span,
.academy{
  color: var(--golden);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px
}
